body{
    margin-left: 12em;
    margin-right: 12em;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
p{
    background: lightgray;
    height: 10em;
}
.flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2em;
}
iframe{
    max-height: 100%;
    max-width: 100%;
}